@use 'variables' as *;

.main-menu {
  position: relative;
  width: clamp(640px, 80vw, $main-width-contanier);
  height: $main-height-contanier;
  background-color: $main-background-color; // inny
  margin-top: $category-padding;
  margin-left: $category-padding;
  border-radius: $border-radius;
  padding-right: 12px;

  & > ul {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3px;
    background: linear-gradient(-90deg, $category-gradient-colors) left bottom no-repeat;
    background-size: 100% 3px;
  }

  .category {
    &__promotion {
      position: relative;
      width: 118px;
      height: 36px;
      display: flex;
      background-color: $promotion-background-color;
      text-align: center;
      border-radius: $border-radius;
      margin-left: auto;
      margin-right: 0;
      cursor: pointer;

      & > a {
        color: $promotion-text-color;
        text-transform: uppercase;
        font-size: $promotion-font-size;
        padding: 7px 19px 8px 20px;
      }
    }

    &__item {
      padding-right: $category-padding;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      padding-right: 60px;

      &:nth-child(1) {
        padding-left: $category-padding;
      }

      & > a::first-letter {
        text-transform: lowercase;
      }

      & > a {
        position: relative;
        display: block;
        color: $category-text-color;
        text-decoration: none;
        font-size: $category-text-size;
        padding-right: 10px;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          display: block;
          opacity: 0;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 14.55px solid $main-background-color;
          top: 44px;
          left: calc(50% - 20px);
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
  }
}
