$main-background-color: rgba(244, 244, 244, 1);
$main-height-contanier: 60px;
$main-width-contanier: 1170px;
$category-gradient-colors: rgba(255, 0, 0, 1), rgba(255, 138, 0, 0.7651), rgba(219, 247, 44, 0.6111), rgba(0, 255, 87, 1),
  rgba(0, 178, 255, 1), rgba(4, 0, 210, 1), rgba(250, 0, 255, 1), rgba(255, 0, 0, 1);
$category-padding: 30px;

$promotion-background-color: red;
$promotion-text-color: white;
$promotion-font-size: 14px;

$category-text-color: rgba(51, 51, 51, 1);
$category-hover-color: $main-background-color;
$category-text-size: 16px;

$dropdown-background-color: $main-background-color;
$dropdown-text-color: rgba(0, 0, 0, 1);
$dropdown-padding-left: $category-padding;
$dropdown-padding-right: 250px;
$dropdown-font-size: 13px;
$dropdown-grid-gap: 10px;

$border-radius: 5px;
